<div class="row">
    <div class="well span12">
        <h3>HR Interactive Resource Estimator for Monetary Equations</h3>
        <label>Notice: This does not create or modify an employee.  Please use this tool only to estimate amounts for individuals.</label>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="span4">
        <div class="well">
            <!-- NOTE: If there is 0, 1, 2 or more employee, you can use an I18N template to make the language sound correct for the singluar vs. plural wording.  read: employee(s) -->
            You have {{employees.length}} employee(s) with a total estimated total cost of {{ totalCost | currency}} per pay period.
        </div>

        <div class="well">
            <span ng-if="employees.length == 0">No employee information to show</span>
            <ul>
                <!-- NOTE: Something like below would be a real grid control, wrapped in a custom directive probably -->
                <!-- NOTE: If there is 0, 1, 2 or more dependants, you can use an I18N template to make the language sound correct for the singluar vs. plural wording.  read: member(s) -->
                <li ng-repeat="employee in employees">{{employee.name}} and {{employee.dependants.length}} other member(s) would have a cost of {{employee.cost | currency}} per pay period.</li>
            </ul>
        </div>
    </div>

    <div class="well span8">
        <form name="formNewEmployee" class="css-form">
            <h4>Please enter the employee and their dependents below</h4>

            <label>Employee Name:</label><br />
            <input type="text" ng-model="form.name" ng-pattern="word" placeholder="Full Name" required /> <br /><br />

            <!--
            <label>Address:</label> <br />
            <input type="text" ng-model="form.address.street" size="33" placeholder="Street" required /> <br />
            <input type="text" ng-model="form.address.city" size="12" placeholder="City" required />,
            <input type="text" ng-model="form.address.state" size="2" placeholder="State" ng-pattern="state" required />
            <input type="text" ng-model="form.address.zip" size="5" placeholder="Zip Code" ng-pattern="zip" required /><br /><br />
            -->

            <label>Dependents:</label>
            <select ng-model="form.dependant.type">
                <option>partner</option>
                <option>child</option>
            </select>

            <input type="text" ng-model="form.dependant.name" placeholder="Full Name" />
            <button ng-click="addDependant()" style="vertical-align: top;" ng-disabled="!form.dependant.name">Add Dependant</button>

            <br />
            <div ng-repeat="dependant in dependants">
                {{dependant.name}}
            </div>
            
            <br />

            <!-- TODO: Use glyphicons (not added)-->
            <button type="reset" ng-click="save()" ng-disabled="isSaveDisabled()" class="glyphicon-plus">Save Employee Information</button>
        </form>
    </div>
</div>