<p>Some notes on my decisions, technology and what I would do differently:</p>

<br />

<p>
    For most modern apps, I would use some kind of client-side MVC framework, because:
   <ul>
       <li>A lot of the web is moving towards this, and you have a lot of 3rd party options to build a full featured web site quickly that looks nice.</li>
       <li>It allows for a better separation of concerns, the server can be any technology it just responds with data (typically json).</li>
       <li>The SPA allows for a cleaner look by only updating the part of the current web page that needs to be updated (no full page refreshes).  It also preforms better this way.</li>
   </ul> 

    <br />
    Some additions to briefly touch on:
    <ul>
        <li>I replaced the stock routing with ui-router, because it is awesome.  I don't have any nested views or anything fancy.</li>
        <li>I do use template caching</li>
        <li>The intro block on the left is sort of I18Ned (English only).  I didn't do all the text or another language for the sake of time.</li>
    </ul>

    <br/>
    Tools:
    <ul>
        <li>I used the free IIS Express web server.  Primarily because I still prefer Visual Studio as an IDE.</li>
        <li>The site is hosted for free with its soruce on Github</li>
        <li>I used node's package manager to pull everything</li>
    </ul>
</p>